.get-in-touch{
    background:-webkit-linear-gradient(left,rgb(166, 69, 166),rgb(123, 0, 255)) ;
    padding:  50px 0px 200px !important;

}
.get-in-touch h2{
    color: white;
}

/* .get-in-touch-input{
    padding: auto;
    background-color: black;
} */
input{
    /* width: 180px ; */
    height: 35px;
    border-radius: 12px;
    border: 1px solid white;
   padding-left: 10px;
   margin: 2px;
   background-color: rgba(255, 255, 255, 0.141);
   color: white;
   
}
.message{
    /* width: 363px ; */
    height: 100px;
    margin-bottom: 25px;
    margin-left: 2px;
    padding-top: -15px;
}

button{
    width: 100px ;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 4px;
    border-radius: 12px;
}
 .get-in-touch img{
    animation: image 2s ease-in-out  both;
  }
  @keyframes image {
    0% { transform: scale(0.3); opacity: 0;}
    100% {transform: scale(10px);opacity: 1;}
  }